.guaPlayer .flip-left{
	float: left;
	width: 140px;
	height: 280px;
	padding: 0;
	transform-style: preserve-3d;
	perspective: 800px;
	backface-visibility:hidden;
}
.guaPlayer .flip-right{
	float: left;
	width: 140px;
	height: 280px;
	padding: 0;
	transform-style: preserve-3d;
	perspective: 800px;
	backface-visibility:hidden;
}

#gua-flip-pageL1,#gua-flip-pageL2,#gua-flip-pageL3,#gua-flip-pageL4{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: grey;
	transform-origin: right center;
	transition: transform 0.5s linear;
}
#gua-flip-pageL1{
	background-image: url('../img/default.jpg');
	background-size: auto 280px;
	background-repeat: no-repeat;
	background-position-y:center;

}
#gua-flip-pageL2,#gua-flip-pageL3,#gua-flip-pageL4{
	transform: rotateY(85deg);
}
#gua-flip-pageR1,#gua-flip-pageR2,#gua-flip-pageR3,#gua-flip-pageR4{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: green;
	transition: transform 0.5s linear;
	transform-origin: left center;
}
#gua-flip-pageR1{
	z-index: -10;
	background-image: url('../img/default.jpg');
	background-size: auto 280px;
	background-repeat: no-repeat;
	background-position: -140px;
	transform: rotateY(-50deg);
}
#gua-flip-pageR2{
	z-index: -20;
}
#gua-flip-pageR3{
	z-index: -30;
}
#gua-flip-pageR4{
	z-index: -40;
}