
.guaPlayer .content {
	width: 280px;
	height: 280px;
	position: relative;
	z-index: 1;
}
.guaPlayer .flip-left{
	float: left;
	width: 140px;
	height: 280px;
	padding: 0;
	transform-style: preserve-3d;
	perspective: 800px;
	backface-visibility:hidden;
}
.guaPlayer .flip-right{
	float: left;
	width: 140px;
	height: 280px;
	padding: 0;
	transform-style: preserve-3d;
	perspective: 800px;
	backface-visibility:hidden;
}

#gua-flip-pageL1,#gua-flip-pageL2,#gua-flip-pageL3,#gua-flip-pageL4{
	position: absolute;
	background: #16181C;
	width: 100%;
	height: 100%;
	transform-origin: right center;
	transition: transform 0.5s linear;
}
#gua-flip-pageL1{
	background-image: url('../img/default.jpg');
	background-size: auto 280px;
	background-repeat: no-repeat;
	background-position-y:center;

}
#gua-flip-pageL2,#gua-flip-pageL3,#gua-flip-pageL4{
	transform: rotateY(85deg);
}
#gua-flip-pageR1,#gua-flip-pageR2,#gua-flip-pageR3,#gua-flip-pageR4{
	position: absolute;
	background: #16181C;
	width: 100%;
	height: 100%;
	transition: transform 0.5s linear;
	transform-origin: left center;
}
#gua-flip-pageR1{
	z-index: 100;
	background-image: url('../img/default.jpg');
	background-size: auto 280px;
	background-repeat: no-repeat;
	background-position: -140px;
}
#gua-flip-pageR2{
	z-index: 90;
}
#gua-flip-pageR3{
	z-index: 80;
}
#gua-flip-pageR4{
	z-index: 70;
}

#guaPlayer-aside {
	width: 50px;
	height: 100%;
	background-color: #565656;
	position: absolute;
	right: 0;
	text-align: center;
}

#guaPlayer-aside div + div {
	border-top: 1px solid #6B6B6B;
}

.guaPlayer-play {
	width: 50px;
	height: 54px;
	opacity: 0.7;
	background-image: url('../img/play.png');
	background-repeat: no-repeat;
	background-position: center;
}
.guaPlayer-pause {
	width: 50px;
	height: 54px;
	opacity: 0.7;
	background-image: url('../img/pause.png');
	background-repeat: no-repeat;
	background-position: center;
}
#guaPlayer-forward {
	width: 50px;
	height: 54px;
	opacity: 0.7;
	background-image: url('../img/forward.png');
	background-repeat: no-repeat;
	background-position: center;
}
#guaPlayer-backward {
	width: 50px;
	height: 54px;
	opacity: 0.7;
	background-image: url('../img/backward.png');
	background-repeat: no-repeat;
	background-position: center;
}
#guaPlayer-volume {
	width: 50px;
	height: 115px;
	opacity: 0.7;
	background-image: url('../img/voice.png')	;
	background-repeat: no-repeat;
	background-position: center 80px;
}
#guaPlayer-toggle:hover,
#guaPlayer-forward:hover,
#guaPlayer-backward:hover, 
#guaPlayer-volume:hover {
	opacity: 1;
	    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.gua-vertical-slider {
	height: 70px;
	width: 6px;
	border-radius: 3px;
	margin: 5px auto;
	background-color: #242427;
	position: relative;
	cursor: default;
	user-select: none;
}

.gua-vertical-bar {
	height: 60%;
	width: 6px;
	border-radius: 3px;
	position: absolute;
	bottom: 0;
	background-color: #E83C3C;
	cursor: default;
	user-select: none;
}

#id-audio-time {
	text-align: center;
	line-height: 20px;
	user-select: none;
	cursor: default;
}

.guaSlider {
	height: 20px;
	width: 100%;
	background-color: #636363;
	position: absolute;
	bottom: 0px;
	z-index: 0;
}

.guaSlider .guaSliderBar{
	position: absolute;
	left: 0;
	top:0;
	height: 20px;
	width: 60%;
	z-index: -1;
	background-color: #B82525;
}